body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
}

#rating-state {
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.rating-header {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.rating-header i {
  font-size: 24px;
}

#rating-state p,
h1 {
  color: white;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.rating-btn {
  color: #d5d5da;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: hsl(217, 12%, 63%);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rating-btn:hover {
  background-color: white;
}

.rating-btn.selected {
  background-color: #f56619;
  color: white;
}
#submit-btn {
  width: 100%;
  padding: 10px 0;
  background-color: #f56619;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: #e85d14;
}

#thank-you-state {
  color: white;
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thank-you-state h3 {
  background-color: hsl(217, 12%, 63%);
  color: #e85d14;
  padding: 5px;
  border-radius: 50px;
}

.attribution {
  color: white;
  position: relative;
  margin: 2rem;
}
